.tank {
  border: #ddd solid 1px;
  width: 100%;
  height: 250px;
  position: relative;
}

.bg {
  background: url(http://yveshelie.net/codepen/pipes.png) left top no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.tube {
  background-color: #efefef;
  position: absolute;
}
.tube.x {
  height: 15px;
}
.tube.y {
  width: 15px;
}

.water {
  background-color: #ef4988;
  position: absolute;
}
.water.left {
  left: 0;
}
.water.right {
  right: 0;
}
.water.top {
  top: 0;
}
.water.bottom {
  bottom: 0;
}
.x .water {
  height: 100%;
}
.y .water {
  width: 100%;
}
